[general]
status_path = "/var/lib/vdirsyncer/.vdirsyncer/status/"

[storage datashare]
type = "caldav"
url = "{{ sops.vdirsyncer.datashare.url }}"
read_only = true

[storage exchange]
type = "http"
url = "{{ sops.vdirsyncer.exchange.url }}"
read_only = true

[storage icloud_privat]
type = "caldav"
url = "{{ sops.vdirsyncer.icloud.url }}"
username = "{{ sops.vdirsyncer.icloud.username }}"
password.fetch = ["command", "printenv", "ICLOUD_PASS"]
read_only = true

[storage local_datashare]
type = "filesystem"
path = "/var/lib/vdirsyncer/local_datashare/"
fileext = ".ics"

[storage local_exchange]
type = "filesystem"
path = "/var/lib/vdirsyncer/local_exchange/"
fileext = ".ics"

[storage local_icloud_privat]
type = "filesystem"
path = "/var/lib/vdirsyncer/local_icloud_privat/"
fileext = ".ics"

[storage merged]
type = "filesystem"
path = "/var/lib/vdirsyncer/merged/"
fileext = ".ics"

[storage icloud]
type = "caldav"
url = "{{ sops.vdirsyncer.icloud.url }}"
username = "{{ sops.vdirsyncer.icloud.username }}"
password.fetch = ["command", "printenv", "ICLOUD_PASS"]

[pair datashare_to_local]
a = "datashare"
b = "local_datashare"
collections = [["datashare", null, "default"]]
conflict_resolution = "a wins"

[pair exchange_to_local]
a = "exchange"
b = "local_exchange"
collections = null
conflict_resolution = "a wins"

[pair icloud_privat_to_local]
a = "icloud_privat"
b = "local_icloud_privat"
collections = [["icloud_privat", "{{ sops.vdirsyncer.icloud_privat.sourcecal }}", "default"]]
conflict_resolution = "a wins"

[pair merged_to_icloud]
a = "merged"
b = "icloud"
collections = [["merged_to_icloud", "default", "{{ sops.vdirsyncer.icloud.targetcal }}"]]
conflict_resolution = "a wins"