[general]
status_path = "/var/lib/vdirsyncer/.vdirsyncer/status/"

[storage icloud]
type = "caldav"
url = "{{ vdirsyncer.icloud.url }}"
username = "{{ vdirsyncer.icloud.username }}"
password.fetch  = ["command", "printenv", "ICLOUD_PASS"]

[storage tud]
type = "caldav"
url = "{{ vdirsyncer.tud.url }}"
username = "{{ vdirsyncer.tud.username }}"
password.fetch  = ["command", "printenv", "TUD_PASS"]
read_only = true

[pair tud_to_icloud]
a = "tud"
b = "icloud"
collections = [["tud_to_icloud", "{{ vdirsyncer.tud.targetcal }}", "{{ vdirsyncer.icloud.targetcal }}"]]
conflict_resolution = "a wins"
