[general]
status_path = "/var/lib/vdirsyncer/.vdirsyncer/status/"

[storage datashare]
type = "caldav"
url = "{{ sops.vdirsyncer.datashare.url }}"
read_only = true

[storage exchange]
type = "http"
url = "{{ sops.vdirsyncer.exchange.url }}"
read_only = true

[storage icloud_source]
type = "caldav"
url = "{{ sops.vdirsyncer.icloud.url }}"
username = "{{ sops.vdirsyncer.icloud.username }}"
password.fetch = ["command", "printenv", "ICLOUD_PASS"]

[storage icloud_work]
type = "caldav"
url = "{{ sops.vdirsyncer.icloud.url }}"
username = "{{ sops.vdirsyncer.icloud.username }}"
password.fetch = ["command", "printenv", "ICLOUD_PASS"]

[storage icloud_private]
type = "caldav"
url = "{{ sops.vdirsyncer.icloud.url }}"
username = "{{ sops.vdirsyncer.icloud.username }}"
password.fetch = ["command", "printenv", "ICLOUD_PASS"]

[storage local_datashare]
type = "filesystem"
path = "/var/lib/vdirsyncer/local_datashare/"
fileext = ".ics"

[storage local_exchange]
type = "filesystem"
path = "/var/lib/vdirsyncer/local_exchange/"
fileext = ".ics"

[storage local_icloud_privat]
type = "filesystem"
path = "/var/lib/vdirsyncer/local_icloud_privat/"
fileext = ".ics"

[storage availability_work]
type = "filesystem"
path = "/var/lib/vdirsyncer/availability_work/"
fileext = ".ics"

[storage availability_private]
type = "filesystem"
path = "/var/lib/vdirsyncer/availability_private/"
fileext = ".ics"

[pair datashare_to_local]
a = "datashare"
b = "local_datashare"
collections = null
conflict_resolution = "a wins"

[pair exchange_to_local]
a = "exchange"
b = "local_exchange"
collections = null
conflict_resolution = "a wins"

[pair icloud_privat_to_local]
a = "icloud_source"
b = "local_icloud_privat"
collections = [["icloud_privat", "{{ sops.vdirsyncer.icloud.sourcecal_privat }}", "default"]]
conflict_resolution = "a wins"

[pair availability_work_to_icloud]
a = "availability_work"
b = "icloud_work"
collections = [["availability_work_to_icloud", null, "{{ sops.vdirsyncer.icloud.targetcal_work }}"]]
conflict_resolution = "a wins"

[pair availability_private_to_icloud]
a = "availability_private"
b = "icloud_private"
collections = [["availability_private_to_icloud", null, "{{ sops.vdirsyncer.icloud.targetcal_private }}"]]
conflict_resolution = "a wins"
