AWS_DEFAULT_REGION={{ restic_backup_s3_region }}
AWS_ACCESS_KEY_ID={{ restic_backup_s3_access_key }}
AWS_SECRET_ACCESS_KEY={{ restic_backup_s3_secret_key }}
RESTIC_PASSWORD={{ restic_backup_password }}
