ZOTERO_LOCAL=false
ZOTERO_NO_CLAUDE=true
ZOTERO_API_KEY={{ zotero_mcp_api_key }}
ZOTERO_LIBRARY_TYPE=user
ZOTERO_LIBRARY_ID={{ zotero_mcp_library_id }}
ZOTERO_EMBEDDING_MODEL=openai
OPENAI_API_KEY={{ zotero_mcp_embedding_api_key }}
OPENAI_EMBEDDING_MODEL={{ zotero_mcp_embedding_model }}
OPENAI_BASE_URL={{ zotero_mcp_embedding_base_url }}
