DOMAIN='{{ sops.vaultwarden.domain }}'
ADMIN_TOKEN='{{ sops.vaultwarden.admin_hash }}'
PUSH_ENABLED=true
PUSH_INSTALLATION_ID='{{ sops.vaultwarden.mobile_push.PUSH_INSTALLATION_ID}}'
PUSH_INSTALLATION_KEY='{{ sops.vaultwarden.mobile_push.PUSH_INSTALLATION_KEY}}'
PUSH_RELAY_URI=https://api.bitwarden.eu
PUSH_IDENTITY_URI=https://identity.bitwarden.eu
SENDS_ALLOWED=false
SIGNUPS_ALLOWED=false