autoinstall:
  version: 1
  
  # 1. Identität & Hostname
  identity:
    hostname: "{{ hostname }}"
    password: "{{ password_hash }}"
    username: "{{ username }}"

  locale: "{{ locale }}"
  keyboard:
    layout: "{{ keyboard_layout }}"
  timezone: "{{ timezone }}"

  # 3. Speicher (Externalisiert in ubuntu_auto_install_storage)
  storage: 
{{ ubuntu_auto_install_storage | to_nice_yaml(indent=2, sort_keys=False) | indent(4, true) }}



  # 4. SSH Zugang
  ssh:
    install-server: true
    allow-pw: false
    authorized-keys:
      - "{{ ssh_public_key }}"