autoinstall:
  version: 1

  locale: "{{ locale }}"
  keyboard:
    layout: "{{ keyboard_layout }}"
  timezone: "{{ timezone }}"

  storage:
    layout:
      name: lvm
      match:
        model: "*CT240*"
  

  identity:
    hostname: "{{ hostname }}"
    password: "{{ password_hash }}"
    username: "{{ username }}"


  ssh:
    install-server: true
    allow-pw: false
    authorized-keys:
      - "{{ ssh_public_key }}"

  late-commands:
  - curtin in-target --target=/target -- mkdir -p /srv
  - curtin in-target --target=/target -- sh -c "echo '/dev/disk/by-id/ata-Patriot_P220_1024GB_P220IICB25082901106-part1 /srv ext4 defaults 0 0' >> /etc/fstab"

      