autoinstall:
  version: 1
  
  # 1. Identität & Hostname
  identity:
    hostname: "{{ hostname }}"
    password: "{{ password_hash }}"
    username: "{{ username }}"

  locale: "{{ locale }}"
  keyboard:
    layout: "{{ keyboard_layout }}"
  timezone: "{{ timezone }}"

  # 3. Speicher (OS auf mmcblk0, Daten-RAID auf sda/sdb)
  storage:
    swap:
      size: 0
    config:
      # OS-Disk: /dev/mmcblk0
      - type: disk
        id: os-disk
        match:
          path: /dev/mmcblk0

      # EFI System Partition auf mmc
      - type: partition
        id: os-efi-part
        device: os-disk
        size: 512M
        flag: boot

      - type: format
        id: os-efi-fs
        volume: os-efi-part
        fstype: fat32

      - type: mount
        id: mount-efi
        device: os-efi-fs
        path: /boot/efi

      # Root auf dem Rest der mmc
      - type: partition
        id: os-root-part
        device: os-disk
        size: -1

      - type: format
        id: os-root-fs
        volume: os-root-part
        fstype: ext4

      - type: mount
        id: mount-root
        device: os-root-fs
        path: /

      # RAID1 aus /dev/sda und /dev/sdb -> /srv
      - type: disk
        id: raid-disk-a
        match:
          path: /dev/sda

      - type: disk
        id: raid-disk-b
        match:
          path: /dev/sdb

      - type: partition
        id: raid-part-a
        device: raid-disk-a
        size: -1

      - type: partition
        id: raid-part-b
        device: raid-disk-b
        size: -1

      - type: raid
        id: md-srv
        name: md0
        raidlevel: 1
        devices:
          - raid-part-a
          - raid-part-b

      - type: format
        id: srv-fs
        volume: md-srv
        fstype: ext4

      - type: mount
        id: mount-srv
        device: srv-fs
        path: /srv



  # 4. SSH Zugang
  ssh:
    install-server: true
    allow-pw: false
    authorized-keys:
      - "{{ ssh_public_key }}"