#cloud-config
autoinstall:
  version: 1
  
  # 1. Identität & Hostname
  identity:
    hostname: "{{ hostname }}"
    password: "{{ password_hash }}"
    username: "{{ username }}"

  locale: "{{ locale }}"
  keyboard:
    layout: "{{ keyboard_layout }}"
  timezone: "{{ timezone }}"

  # 3. Speicher (OS auf mmcblk0, Daten-RAID auf sda/sdb)
  storage:
    config:
      # --- A. Das Betriebssystem (eMMC) ---
      - {type: disk, id: disk-os, path: /dev/mmcblk0, ptable: gpt, preserve: false, name: ''}
      
      # Boot Partitionen für OS
      - {type: partition, id: part-bios, device: disk-os, size: 1M, flag: bios_grub}
      - {type: partition, id: part-efi, device: disk-os, size: 512M, flag: boot}
      - {type: format, id: fmt-efi, volume: part-efi, fstype: fat32}
      - {type: mount, id: mount-efi, device: fmt-efi, path: /boot/efi}
      
      # Root Partition (Rest der eMMC für Ubuntu)
      - {type: partition, id: part-root, device: disk-os, size: -1}
      - {type: format, id: fmt-root, volume: part-root, fstype: ext4}
      - {type: mount, id: mount-root, device: fmt-root, path: /}

      # --- B. Das Daten-RAID (SATA/HDD) ---
      - {type: disk, id: disk-sda, path: /dev/sda, ptable: gpt, preserve: false}
      - {type: disk, id: disk-sdb, path: /dev/sdb, ptable: gpt, preserve: false}
      
      # Wir nutzen jeweils die komplette Festplatte für das RAID
      - {type: partition, id: part-raid-a, device: disk-sda, size: -1}
      - {type: partition, id: part-raid-b, device: disk-sdb, size: -1}
      
      # Erstellen des RAID1 (mdadm)
      - type: raid
        id: raid-data
        name: md0
        raidlevel: 1
        devices: [part-raid-a, part-raid-b]
        spare_devices: []
      
      # Formatieren als ext4 (Robust & Standard)
      - {type: format, id: fmt-data, volume: raid-data, fstype: ext4, label: DataRAID}
      
      # Mounten nach /srv
      - {type: mount, id: mount-data, device: fmt-data, path: /srv}

  # 4. SSH Zugang
  ssh:
    install-server: true
    allow-pw: false

  # 5. User Konfiguration
  users:
    - name: "{{ username }}"
      groups: [sudo, adm]
      shell: /bin/bash
      lock_passwd: false
      passwd: "{{ password_hash }}"
      ssh_authorized_keys:
        - "{{ ssh_public_key }}"
