services:
  freshrss:
    image: freshrss/freshrss:latest
    container_name: "freshrss"
    restart: unless-stopped
    environment:
      - TZ={{ freshrss_timezone | default('Europe/Berlin') }}
      - CRON_MIN={{ freshrss_cron_min | default('*/15') }}
    volumes:
      - "{{ freshrss_data_dir }}:/var/www/FreshRSS/data"
      - "{{ freshrss_extensions_dir }}:/var/www/FreshRSS/extensions"
    labels:
      - "traefik.enable={{ freshrss_traefik_enable | default(true) | ternary('true', 'false') }}"
      - "traefik.docker.network={{ freshrss_traefik_network }}"
      - "traefik.http.routers.{{ freshrss_traefik_router_name }}.rule=Host(`{{ freshrss_public_url }}`)"
      - "traefik.http.routers.{{ freshrss_traefik_router_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ freshrss_traefik_router_name }}.tls.certresolver={{ freshrss_traefik_cert_resolver }}"
      - "traefik.http.services.{{ freshrss_traefik_router_name }}.loadbalancer.server.port=80"
    networks:
      - "{{ freshrss_traefik_network }}"
      - freshrss-internal

  readability:
    image: phpdockerio/readability-js-server:latest
    container_name: "freshrss-readability"
    restart: unless-stopped
    networks:
      - freshrss-internal

networks:
  {{ freshrss_traefik_network }}:
    name: {{ freshrss_traefik_network }}
    external: true
  freshrss-internal:
