---
sops: {}

locale: "de-DE.UTF-8"

keyboard_layout: "de"
timezone: "Europe/Berlin"

iso_arch: "amd64"
# Valid values are: amd64, arm64
# ppc64el and s390x haven't been tested yet

hostname: "homeserverI"
password: "{{ sops.mydefaults.password | default('ubuntu', true) }}"
password_hash: "{{ sops.mydefaults.password_hashed | default(password | password_hash('sha512'), true) }}"

username: "{{ sops.mydefaults.username | default('ubuntu', true) }}"

ssh_public_key: "{{ sops.mydefaults.public_ssh_key | default('', true) }}"

target_dir: "{{ ansible_facts['env']['HOME'] }}/.local/ansible_ubuntu-autoinstall"

ubuntu_gpg_key: "843938DF228D22F7B3742BC0D94AA3F0EFE21092"

# Storage-Konfiguration
ubuntu_auto_install_storage:
  swap:
    size: 0
  config:
    # OS-Disk: /dev/mmcblk0
    - type: disk
      id: os-disk
      match:
        path: /dev/mmcblk0

    # EFI System Partition auf mmc
    - type: partition
      id: os-efi-part
      device: os-disk
      size: 512M
      flag: boot

    - type: format
      id: os-efi-fs
      volume: os-efi-part
      fstype: fat32

    - type: mount
      id: mount-efi
      device: os-efi-fs
      path: /boot/efi

    # Root auf dem Rest der mmc
    - type: partition
      id: os-root-part
      device: os-disk
      size: -1

    - type: format
      id: os-root-fs
      volume: os-root-part
      fstype: ext4

    - type: mount
      id: mount-root
      device: os-root-fs
      path: /

    # RAID1 aus /dev/sda und /dev/sdb -> /srv
    - type: disk
      id: raid-disk-a
      match:
        path: /dev/sda

    - type: disk
      id: raid-disk-b
      match:
        path: /dev/sdb

    - type: partition
      id: raid-part-a
      device: raid-disk-a
      size: -1

    - type: partition
      id: raid-part-b
      device: raid-disk-b
      size: -1

    - type: raid
      id: md-srv
      name: md0
      raidlevel: 1
      devices:
        - raid-part-a
        - raid-part-b

    - type: format
      id: srv-fs
      volume: md-srv
      fstype: ext4

    - type: mount
      id: mount-srv
      device: srv-fs
      path: /srv
