---
sops: {}

locale: "de_DE.UTF-8"

keyboard_layout: "de"
timezone: "Europe/Berlin"

iso_arch: "amd64"
# Valid values are: amd64, arm64
# ppc64el and s390x haven't been tested yet

hostname: "homeeins"
password: "{{ sops.mydefaults.password | default('ubuntu', true) }}"
password_hash: "{{ sops.mydefaults.password_hashed | default(password | password_hash('sha512'), true) }}"

username: "{{ sops.mydefaults.username | default('ubuntu', true) }}"

ssh_public_key: "{{ sops.mydefaults.public_ssh_key | default('', true) }}"

target_dir: "{{ ansible_facts['env']['HOME'] }}/.local/ansible_ubuntu-autoinstall"

ubuntu_gpg_key: "843938DF228D22F7B3742BC0D94AA3F0EFE21092"

# Storage-Konfiguration
ubuntu_auto_install_storage:
  config:
    - id: mmc0
      type: disk
      ptable: gpt
      path: /dev/mmcblk0
      wipe: superblock-recursive
      preserve: false
      grub_device: true

    - id: mmc0p1
      type: partition
      device: mmc0
      number: 1
      size: 1G
      flag: boot
      grub_device: true

    - id: mmc0p2
      type: partition
      device: mmc0
      number: 2
      size: -1

    - id: fmt-esp
      type: format
      volume: mmc0p1
      fstype: vfat

    - id: fmt-root
      type: format
      volume: mmc0p2
      fstype: ext4

    - id: mnt-esp
      type: mount
      path: /boot/efi
      device: fmt-esp

    - id: mnt-root
      type: mount
      path: /
      device: fmt-root
