BASE_URL=https://{{ mealie_public_url }}
ALLOW_SIGNUP=false
TZ={{ default_timezone }}

OPENAI_BASE_URL={{ mealie_openai_base_url }}
OPENAI_API_KEY={{ mealie_openai_api_key }}
OPENAI_MODEL={{ mealie_openai_model }}
OPENAI_ENABLE_IMAGE_SERVICES={{ mealie_openai_enable_image_services }}
OPENAI_SEND_DATABASE_DATA={{ mealie_openai_send_database_data }}