## Managed by Ansible. Adjust variables instead of editing this file directly.

[global]
fqdn = "{{ autoin_proxmox_fqdn }}"
timezone = "Europe/Berlin"
keyboard = "de"
country = "de"
mailto = "test@test.de"
root-password-hashed = "{{ autoin_proxmox_root_password_hash }}"
{% set filtered_root_keys = autoin_proxmox_root_authorized_keys | reject('equalto', '') | list %}
{% if filtered_root_keys %}
root-ssh-keys = [
{% for key in filtered_root_keys %}
  "{{ key }}"{% if not loop.last %},{% endif %}
{% endfor %}
]
{% endif %}

[network]
source = "from-dhcp"

[disk-setup]
filesystem = "zfs"
zfs.raid = "raid1"
# filter.ID_MODEL = "CT240*"
disk-list = ["sda", "sdb"]
zfs.ashift = 12
zfs.compress = "lz4"
zfs.checksum = "on"
zfs.copies = 1
zfs.arc-max = 4096
zfs.hdsize = 210



[first-boot]
source = "from-iso"
ordering = "fully-up"
