OC_URL=https://{{ opencloud_public_url }}
PROXY_TLS=false
OC_INSECURE=false
IDM_ADMIN_PASSWORD={{ opencloud_admin_password }}

SEARCH_EXTRACTOR_TYPE=tika
SEARCH_EXTRACTOR_TIKA_TIKA_URL=http://tika:9998
FRONTEND_FULL_TEXT_SEARCH_ENABLED=true
